---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>About me</h3>
    <section class="copy">

    <p>
I am a Fellow at <a href="http://insightdatascience.com/">Insight Data Science</a>. I was trained in computational biophysics and used to <a href="http://www.ks.uiuc.edu/~teo7/">simulate and watch proteins wiggling on my screen</a> before shifting my focus towards machine learning and data analytics. My professional interests also include learning to write good code and how to marry data science solutions to real world needs. 
      </p>

    </section>
  </section>
</section>
